RewriteEngine On
RewriteBase /COACKI/

# Empêcher l'accès aux dossiers système
RewriteRule ^(app|database|prisma|scripts|node_modules) - [F,L]

# Rediriger tout vers index.php si ce n'est pas un fichier ou dossier réel
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
